NODE_ENV=production
PORT=8080
APP_NAME=docker-epicbook
APP_LOG_DIR=/app/logs
ALLOWED_ORIGIN=http://localhost
DB_HOST=db
DB_PORT=3306
DB_NAME=bookstore
DB_USER=epicbook
DB_PASSWORD=epicbookpass
MYSQL_ROOT_PASSWORD=rootpass
PROXY_HTTP_PORT=8081
