{
  "development": {
    "username": "{{ epicbook_db_username }}",
    "password": "{{ epicbook_db_password }}",
    "database": "{{ epicbook_database }}",
    "host": "{{ epicbook_db_host }}",
    "dialect": "mysql"
  },
  "test": {
    "username": "{{ epicbook_db_username }}",
    "password": "{{ epicbook_db_password }}",
    "database": "{{ epicbook_database }}_test",
    "host": "{{ epicbook_db_host }}",
    "dialect": "mysql"
  },
  "production": {
    "username": "{{ epicbook_db_username }}",
    "password": "{{ epicbook_db_password }}",
    "database": "{{ epicbook_database }}",
    "host": "{{ epicbook_db_host }}",
    "dialect": "mysql"
  }
}
